<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">
    <title>Page 1 </title>
    <link rel="icon" type="image/x-icon" href="..\assets\logo\logo.ico">

</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <h1>Me contacter</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="cv.html">Mon CV</a></li>
                    
                    <li class="dropdown">
                        <a href="blog.html" class="dropbtn">Blog</a>
                        <div class="dropdown-content">
                            <a href="..\posts\post1\index.html">Titre 1</a>
                            <a href="..\posts\post2\index.html">Post 2</a>
                        </div>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="contact">
        <div class="contact-info">
            <h2>Contactez-moi</h2>
            <p>Pour toute question ou demande d'informations, n'hésitez pas à me contacter via les moyens suivants :</p>
        </div>
        <div class="contact-details">
            <h2>Coordonnées</h2>
            <p>
                Numéro de téléphone : 0761496926<br>
                Adresse email : <a href="mailto:baptiste.richetin@gmail.com" style="color: #fff; text-decoration: underline;">baptiste.richetin@gmail.com</a>
            </p>
        </div>

</body>
</html>