<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" type="image/x-icon" href="..\assets\logo\logo.ico">

</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <h1>Mon CV</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="#">Mon CV</a></li>
                    
                    <li class="dropdown">
                        <a href="..\posts\post1\index.html" class="dropbtn">Blog</a>
                        <div class="dropdown-content">
                            <a href="..\posts\post1\index.html">Titre 1</a>
                            <a href="..\posts\post2\index.html"> Titre 2</a>
                        </div>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container">
        <p><a href="../assets/CV_2024-04-28_Baptiste_Richetin.pdf" download>Télécharger le CV</a></p>
        <embed src="../assets/CV_2024-04-28_Baptiste_Richetin.pdf" type="application/pdf" width="100%" height="600px">
        
    </div>
</body>
</html>
