body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header.main-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 5%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

embed {
    width: 100%;
    max-width: 800px;
    height: 800px;
}

p {
    text-align: center;
}


/* BALISE PAGE CONTACT*/
.contact {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
    padding: 40px;
    margin: 30px auto;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 2s; 
    border-color: #000;
}

.contact:hover {
    width: 800px; 
}


.contact-info p, .contact-details p {
    margin: 0;
    line-height: 1.6;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.contact:hover .contact-info p, .contact:hover .contact-details p {
    opacity: 1; 
}

/*SOMMAIRE*/

@import url("https://fonts.googleapis.com/css2?family=Literata");

* {
    font-family: "Literata";
}

.toc-list, .toc-list ol {
	list-style-type: none;
}

.toc-list {
	padding: 0;
}

.toc-list ol {
	padding-inline-start: 2ch;
}
